<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-education"></span>
                DSchool
            </a>

            <ul class="nav navbar-nav">
                <li><a class="active" href="/">Student Corner</a></li>
                <li><a href="/evaluator">Evaluator</a></li>
                <li><a href="/Tasks">Tasks</a></li>
            </ul>
        </div>

    </div>
</nav>