<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h3>Evaluator Registration</h3>
            <form action="Evaluator/set" method="POST">
                <div class="form-group">
                    <label for="pubkey">Public Key :</label>
                    <input required type="text" class="form-control" name="pubkey" id="pubkey">
                </div>
                <div class="form-group">
                    <label for="privkey">Private Key :</label>
                    <input required type="text" class="form-control" name="privkey" id="privkey">
                </div>
                <div class="form-group">
                    <label for="name">Name :</label>
                    <input required type="text" class="form-control" name="name" id="name">
                </div>
                <div class="input-group">
                    <div class="input-group-addon">
                        <label class="input-group-text" for="skill">Skill</label> </div> <select required
                        class="form-control" name="skill" id="skill">
                        <option value="Javascript">Javascript</option>
                        <option value="Solidity">Solidity</option>
                        <option value="Angular">Angular</option>
                        <option value="React">React</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="rank">Rank :</label>
                    <input required type="number" class="form-control" name="rank" id="rank">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="jumbotron">
            <h3>View Evaluator</h3>
            <form action="Evaluator/get" method="GET">
                <div class="form-group">
                    <label for="pubkey">Public Key :</label>
                    <input required type="text" class="form-control" name="pubkey" id="pubkey">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div>
                <h4>Evaluator Id : <%= myData._evaId %></h4>
                <h4>Name : <%= myData._name %></h4>
                <h4>Skill : <%= myData._skill %></h4>
                <h4>Rank : <%= myData._skillRank %></h4>
            </div>
        </div>
        <div class="jumbotron">
            <h3>Voting</h3>
            <form action="Evaluator/vote" method="POST">
                <div class="form-group">
                    <label for="pubkey">Public Key :</label>
                    <input required type="text" class="form-control" name="pubkey" id="pubkey">
                </div>
                <div class="form-group">
                    <label for="privkey">Private Key :</label>
                    <input required type="text" class="form-control" name="privkey" id="privkey">
                </div>
                <div class="form-group">
                    <label for="id">Task Id :</label>
                    <input required type="number" class="form-control" name="id" id="id">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>