<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <style>
        .list-group-item {
            margin-bottom: 10px;
        }
    </style>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="cert" style="display: flex;flex-direction: row;justify-content:space-evenly ;">
            <div class="valid" style="  align-self:stretch;">
                <h3>Varifed Projects</h3>
                <ul class="list-group" style="width: 550px;">
                    <li class="list-group-item">
                        <p>Project id</p>
                        <p>Project Name</p>
                        <p>Tech Used</p>
                        <p>Student Id</p>
                        <p>approvers</p>
                        <p>approvedTime</p>
                    </li>
                    <li class="list-group-item">
                        <p>Project id</p>
                        <p>Project Name</p>
                        <p>Tech Used</p>
                        <p>Student Id</p>
                        <p>approvers</p>
                        <p>approvedTime</p>
                    </li>
                    <li class="list-group-item">
                        <p>Project id</p>
                        <p>Project Name</p>
                        <p>Tech Used</p>
                        <p>Student Id</p>
                        <p>approvers</p>
                        <p>approvedTime</p>
                    </li>
                    <li class="list-group-item">
                        <p>Project id</p>
                        <p>Project Name</p>
                        <p>Tech Used</p>
                        <p>Student Id</p>
                        <p>approvers</p>
                        <p>approvedTime</p>
                    </li>
                </ul>

            </div>
            <div class="notvalid" style="  align-self:stretch;">
                <h3>UnVarifed Projects</h3>
                <ul class="list-group" style="width: 550px;">
                    <li class="list-group-item">
                        <p>Project id</p>
                        <p>Project Name</p>
                        <p>Tech Used</p>
                        <p>Student Id</p>
                    </li>
                    <li class=" list-group-item">
                        <p>Project id</p>
                        <p>Project Name</p>
                        <p>Tech Used</p>
                        <p>Student Id</p>
                    </li>
                    <li class="list-group-item">
                        <p>Project id</p>
                        <p>Project Name</p>
                        <p>Tech Used</p>
                        <p>Student Id</p>
                    </li>
                    <li class="list-group-item">
                        <p>Project id</p>
                        <p>Project Name</p>
                        <p>Tech Used</p>
                        <p>Student Id</p>
                    </li>
                    <li class="list-group-item">
                        <p>Project id</p>
                        <p>Project Name</p>
                        <p>Tech Used</p>
                        <p>Student Id</p>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>